<h2>Détails utilisateur</h2>
<button (click)="goBack()">Retour</button>

<div *ngIf="isLoading">Chargement...</div>

<div *ngIf="error">
  <p>{{ error }}</p>
  <button (click)="goBack()">Retour à la liste</button>
</div>

<div *ngIf="user && !isLoading && !error">
  <table border="1">
    <tr>
      <td><b>ID:</b></td>
      <td>{{ user.id }}</td>
    </tr>
    <tr>
      <td><b>Nom d'utilisateur:</b></td>
      <td>{{ user.username }}</td>
    </tr>
    <tr>
      <td><b>Prénom:</b></td>
      <td>{{ user.firstName }}</td>
    </tr>
    <tr>
      <td><b>Nom:</b></td>
      <td>{{ user.lastName }}</td>
    </tr>
    <tr>
      <td><b>Email:</b></td>
      <td>{{ user.email }}</td>
    </tr>
  </table>
  
  <div style="margin-top: 10px;">
    <a [routerLink]="['/users/edit', user.id]">Modifier</a> |
    <button (click)="deleteUser()">Supprimer</button>
  </div>
</div>